@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="x_001_laptop_main_wrap">
    <div class="row">
        <div class="col-md-7">
            <div class="x_001_laptop_inner_wrap">
                <img src="~/img/x_001_laptop_img.png" alt="x_001_laptop_img">
                <div id="x_001_laptop" class="carousel slide x_001_laptop_indicators x_001_laptop_control_button thumb_scroll_x swipe_x ps_easeOutQuad" ride="carousel" data-duration="2000" data-bs-pause="hover" data-bs-interval="8000">
                    <ol class="carousel-indicators">
                        <li class="active" data-bs-target="#x_001_laptop" data-bs-slide-to="0"></li>
                        <li data-bs-target="#x_001_laptop" data-bs-slide-to="1"></li>
                        <li data-bs-target="#x_001_laptop" data-bs-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"><img src="~/img/posts/82981ac9-192a-4e05-afb0-44092f3dea63_games.webp" alt="x_001_laptop_01"></div>
                        <div class="carousel-item"><img src="~/img/posts/e4d5b22a-604b-40d1-9394-e95193d34063_doom_eternal_key_art.jpg" alt="x_001_laptop_02"></div>
                        <div class="carousel-item"><img src="~/img/posts/2cbfeb96-0aca-472c-bc02-2d5f7c1440fe_1366_2000.jpeg" alt="x_001_laptop_03"></div>
                    </div>
                </div><a class="carousel-control-prev" href="#x_001_laptop" data-bs-slide="prev"><i class="fa fa-angle-left"></i></a><a class="carousel-control-next" href="#x_001_laptop" data-bs-slide="next"><span class="fa fa-angle-right"></span></a>
            </div>
        </div>
        <div class="col-md-5">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p><a href="#">read more</a>
        </div>
    </div>
</div>

