@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperación de contraseña";
}

<section class="register-photo">
    <div class="form-container">
        <div class="image-holder2"></div>
        <form method="post">
            <h2 class="text-center"><strong>Recuperar Contraseña</strong></h2>
            <hr />
            <div class="mb-3">
                <input class="form-control" asp-for="Input.Email" placeholder="Correo">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <br />
                <br />
                <br />
            </div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Recuperar Contraseña</button></div>
            <a class="already" asp-page="./Login">¿Ya has recuperado tu contraseña? Inicia Sesión aquí.</a>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}