@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<section class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post" id="account">
            <h2 class="text-center"><strong>Iniciar Sesión</strong></h2>
            <hr />
            @{
                if (Model.ShowResend)
                {
                    <p>
                        <a asp-page="./UnconfirmedEmail"
                           asp-route-userId="@Model.UserId">¿Reenviar verificaci&oacute;n?</a>
                    </p>
                }
            }
        <div class="mb-3">
            <input class="form-control" asp-for="Input.UserName" placeholder="Nombre de usuario">
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input class="form-control" asp-for="Input.Password" placeholder="Contraseña">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
            <div class="mb-3"></div>
            <div class="mb-3">
                <div class="form-check"><label class="form-check-label"><input class="form-check-input" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label></div>
            </div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Iniciar sesión</button></div>
            <a class="already" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">¿Aún no tienes una cuenta? Regístrate aquí.</a>
            <br />
            <a class="already" asp-page="./ForgotPassword">¿Olvidaste tu contraseña? Recupérala aquí.</a>
        </form>
    </div>
</section>