@page
@model Express_Gaming.Areas.Noticias.Pages.EliminarCModel
@{
    ViewData["Title"] = "Eliminar comentario";
}

<div class="container">
    <br />
    <h3>¿Está seguro de querer borrar su comentario?</h3>
    <div>
        <form method="post">
            <input type="hidden" asp-for="Comentario.CoNoId" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-page="./Articulo" asp-route-id="@Model.Comentario.NoticiasId" class="btn btn-success m-2" role="button">Cancelar</a>
        </form>
    </div>
</div>
